.result {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;

  p {
    margin: 5px 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-wrap: wrap;
  gap: 20px;
}

.info {
  margin-bottom: 20px;
  display: flex;
  gap: 40px;
  text-align: right;
}

.dynamicString {
  display: flex;
  min-height: 60px;
  font-size: 20px;
  line-height: 30px;
  word-break: break-word;
}
