.container {
  font-family: Arial, sans-serif;
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 550px;
}

.dynamicString {
  font-weight: bold;
  color: #333;
}

.varints {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.varintsBox {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  max-height: 400px;
}

.varintsTitle {
  font-size: 20px;
}

.headerBox {
  display: flex;
  justify-content: space-between;
}

.logo {
  align-self: center;
  margin: auto 0 0 0;

  img {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    transition: opacity 0.7s ease;

    &:hover {
      opacity: 1;
    }
  }
}

.title {
  color: #007bff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
}

.varintsBox::-webkit-scrollbar {
  width: 10px;
}

.varintsBox::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

.varintsBox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, gray, lightGray);
}
