.btnReset {
  align-self: flex-end;

  @media (max-width: 767px) {
    flex-grow: 1;
    align-self: center;
  }
}

.logo {
  margin: auto 0 0 0;

  img {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    transition: opacity 0.7s ease;

    &:hover {
      opacity: 1;
    }
  }
}
